<div class="row">
  <% @actualities.each do |actuality| %>
    <div class="flex-container col-12 col-md-6 col-lg-3">
      <%= link_to actuality_path(actuality), class: 'no-link' do %>
        <div class="flex-item card">
          <% if actuality.photo&.key? %>
            <div class="pic-card" style="width:auto">
              <%= cl_image_tag actuality.photo.key, class: "card-img zoom"%>
            </div>
          <% else %>
            <div class="pic-card" style="width:auto">
              <!-- Placeholder or default image -->
              <%= image_tag 'home/home', class: "card-img zoom" %>
            </div>
          <% end %>
          <div class="category-card">
            <div class="container"><i class="fa-solid fa-tag"></i> <%= actuality.category.name %></div>
          </div>
          <div class="title-card px-2">
            <%= truncate(actuality.title, length: 52) %>
          </div>
          <div class="resume-card px-2"><%= actuality.short_description %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%# afficher si current page est home %>
<% if current_page?(root_path) %>
  <br><hr class="dashed-hr">
  <div class="text-end">
    <%= link_to 'voir toutes les actualités', actualities_path, class: "nav-link" %>
  </div>
<% end %>
