
<nav class="navbar navbar-expand-lg navbar-light navbar-jaimeplancoet sticky-top transparent"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid
  <% if request.user_agent =~ /Mobile/ %>
   px-2
  <% else %>
    px-5
  <% end %>
   ">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", style: "height:90px; width:auto", class: "logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
               <li class="nav-item active">
              <%= link_to "Actualités", actualities_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Agenda", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Associations", associations_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Pratique", cities_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "À Propos", a_propos_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</nav>
