<!DOCTYPE html>
<html>
  <head>
    <title>J'aime Plancoet - Retrouvez toute les actualités et l'agenda de la ville de Plancoet dans les Côtes d'Armor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# unless uniquement si maintenance %>
    <% unless @hide_common_elements %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
    <%# unless uniquement si maintenance %>
    <% unless @hide_common_elements %>
      <%= render 'shared/footer' %>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
